/*
 Possible reference: https://github.com/bign8/helvetictoc
*/

body {
    /*background-color: black;*/
    /*color: white;*/
    padding:0;
    margin:0;
    overflow:hidden;
    /*text-rendering:optimizeLegibility;*/
    /*cursor:default;*/
    /*font: 12px/1 Helvetica, "Comic Sans", "Comic Sans MS", cursive;*/
}
.navbar-brand img {
    margin-top: -10px;
}

/* Stickey footer */
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -50px;
}

/* Set the fixed height of the footer here */
#push, #footer {
    height: 50px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Frame */
.frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.frame .push {
    float: left;
    height: 50%;
    margin-bottom: -57px;
}
.frame .container {
    text-align: center;
    position: relative;
    clear: both;
}

/* Next button */
.frame.next {
    font-size: 40px;
    z-index: 0;
}
.frame.next .push {
    margin-bottom: -20px;
}
.frame.next .container {
    text-align: right;
}

/* Show/Hide frames (fade) */
.active {
    display: block !important;
}
.frame {
    display: none;
}
